go 1.22.5

use ./hello-package
use ./average-package
use ./search-replace-package
use ./word-counter-package
use ./file-package
use ./page-parser-package
use ./test-server-package
use ./fetcher-package
use .
